<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is my practice page . Welcome to you .</h1>
    <h1>{{val1|length}}</h1>
    <h1>{{val2|add:"2"}}</h1>
    <h1>{{slash|addslashes}}</h1>
    <h1>{{capital|capfirst}}</h1>
    <h1>{{temp|center:"15"}}</h1>
    <h1>{{capital|cut:" "}}</h1>
    <h1>{{capital|cut:"fahim"}}</h1>
    <h1>{{ NewYear | date:"D d M Y" }}</h1>
    <h1>{{ val_emp | default:"Nothing" }}</h1>
    <h1>{{  inner_dic | dictsort:"name"}}</h1>
    <h1>{{ val10 | divisibleby:"3" }}</h1>
    <h1>{{ file | filesizeformat }}</h1>
    <h1>{{ lst | first}}</h1>
    <h1>{{ lst | join:" // "}}</h1>
    <h1>{{ lst | last}}</h1>
    <h1>{{ lst | length}}</h1>
    <h1>{{line | linenumbers}}</h1>
    <h1>{{ val30 | lower }}</h1>
    <h1>{{ val31 | make_list}}</h1>
    <h1>{{ lst | random}}</h1>
    <h1>{{ lst | slice:":2"}}</h1>
    <h1>{{ val32 | slugify}}</h1>
    <h1>{{ fulldate | time:"H:i"}}</h1>
    <h1>{{ past_date | timesince}}</h1>
    <h1>{{ val30 | title}}</h1>
    <h1>{{ val30 | upper}}</h1>    
    <h1>{{ val30 | wordcount}}</h1>    

</body>
</html>