{% extends 'base.html' %}
{% block content %}

<div class="d-flex flex-wrap justify-content-center px-5 pt-5">
    {% for task in data %}
    <div class="col-sm-3">
        <div class="card m-2">
            <div class="card-body">
                <p class="text-muted">Task ID: {{ task.id }}</p>
                <h5 class="card-title">{{task.title}}</h5>
                <p class="card-text">{{task.description}}</p>
                <p>Author : {{task.assign_date}}</p>
                <p>
                    Category : {% for cat in task.category.all %}
                    <button class="btn btn-primary btn-sm m-2" disabled>{{cat.category_name}} </button>
                    {% endfor %}
                </p>
                {% if task.is_complete %}
                <button class="btn btn-success" disabled>Completed</button>
                {% else %}
                <a href="{% url 'edit_task' task.id %}" class="btn btn-warning mx-1">Edit</a>
                <a href="{% url 'delete_task' task.id %}" class="btn btn-danger mx-1">Delete</a>
                <a href="{% url 'completed_task' task.id %}" class="btn btn-success mx-1">Complete</a>
                {% endif %}


            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}